<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/jsps/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Space</display-name>
    <servlet-name>Space</servlet-name>
    <servlet-class>servlets.Space</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Space</servlet-name>
    <url-pattern>/Space</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Space</servlet-name>
    <url-pattern>/Space/new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Space</servlet-name>
    <url-pattern>/Space/insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Space</servlet-name>
    <url-pattern>/Space/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Space</servlet-name>
    <url-pattern>/Space/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Space</servlet-name>
    <url-pattern>/Space/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Space</servlet-name>
    <url-pattern>/Space/list</url-pattern>
  </servlet-mapping>
</web-app>